<a href="https://colab.research.google.com/github/AlexanderG40/Data-Science/blob/main/Alexander_Assignment_12_1_Data_Manipulation_with_Pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [4]:
# we import our pandas for this assignment
import pandas as pd
# import our dataframe
df = pd.read_csv("/content/Fast-Food Chains in USA.csv")
df.sample(25)

,Fast-Food Chains,U.S. Systemwide Sales (Millions - U.S Dollars),Average Sales per Unit (Thousands - U.S Dollars),Franchised Stores,Company Stores,2021 Total Units,Total Change in Units from 2020
33,Papa Murphy’s,809,643,1213,27,1240,-53
24,Krispy Kreme,996,4000,51,307,358,6
48,Wingstop,2278,1592,1498,36,1534,175
35,Popeyes Louisiana Kitchen,4775,1867,2716,41,2754,146
38,Shake Shack,777,3679,25,218,243,38
36,QDOBA,835,1006,406,333,739,2
39,Sonic Drive-In,5835,1643,3232,320,3552,26
17,Freddy’s Frozen Custard & Steakburgers,759,1842,391,29,420,32
0,Arby’s,4462,1309,2293,1116,3409,40
43,Tim Hortons,687,1200,637,0,637,4
16,Five Guys,2093,3172,911,479,1390,8
30,Panda Express,4452,2173,147,2187,2334,150
41,Subway,9350,438,21147,0,21147,-1043
29,Moe’s Southwest Grill,661,1073,658,1,659,-22
15,Firehouse Subs,1044,909,1101,39,1140,9
23,KFC,5100,1408,3906,47,3953,10
12,Domino's,8641,1317,6185,375,6560,205
18,Hardee’s,2100,1117,1536,198,1734,-32
31,Panera Bread,5650,2700,1130,950,2080,-25
14,El Pollo Loco,973,2000,292,189,481,1
3,Burger King,10033,1470,7054,51,7105,24
5,Checkers/Rally’s,931,1145,568,266,834,-13
2,Bojangles,1485,1924,496,277,773,15
44,Tropical Smoothie Cafe,948,1009,1038,1,1039,125
40,Starbucks,24300,1200,6497,8953,15450,113

Write a Python code snippet using pandas to insert a new record into the dataset with the following details: Fast-Food Chain: "Subway", Systemwide Sales: $1000 million, Average Sales per Unit: $400 thousand, Franchised Stores: 2000, Company Stores: 500, 2021 Total Units: 2500, Total Change in Units from 2020: 50

In [2]:
# we insert our new data into the data frame
# researched and found out we can add a new row using the .loc https://www.geeksforgeeks.org/how-to-add-one-row-in-an-existing-pandas-dataframe/
df.loc[len(df)] = ["Subway", 1000, 400, 2000, 500, 2500, 50]
df.tail()

,Fast-Food Chains,U.S. Systemwide Sales (Millions - U.S Dollars),Average Sales per Unit (Thousands - U.S Dollars),Franchised Stores,Company Stores,2021 Total Units,Total Change in Units from 2020
46,Whataburger,3089,3640,131,742,873,29
47,White Castle,615,1749,0,349,349,-6
48,Wingstop,2278,1592,1498,36,1534,175
49,Zaxby’s,2233,2484,761,147,908,3
50,Subway,1000,400,2000,500,2500,50

Write a Python code snippet using pandas to update the systemwide sales for the fast food chain with the name "McDonald's" to $40000 million.

In [9]:
# we use the .loc feature to update our sales
# https://dnmtechs.com/updating-values-in-a-specific-row-in-a-python-pandas-dataframe/
# it searches it based as a boolean it only changes it where it finds "McDonalds" in its name

df.loc[df['Fast-Food Chains'] == 'McDonald’s', 'U.S. Systemwide Sales (Millions - U.S Dollars)'] = 40000
df

,Fast-Food Chains,U.S. Systemwide Sales (Millions - U.S Dollars),Average Sales per Unit (Thousands - U.S Dollars),Franchised Stores,Company Stores,2021 Total Units,Total Change in Units from 2020
0,Arby’s,4462,1309,2293,1116,3409,40
1,Baskin-Robbins,686,296,2317,0,2317,102
2,Bojangles,1485,1924,496,277,773,15
3,Burger King,10033,1470,7054,51,7105,24
4,Carl’s Jr.,1560,1400,1011,47,1058,-21
5,Checkers/Rally’s,931,1145,568,266,834,-13
6,Chick-fil-A,16700,6100,2650,82,2732,155
7,Chipotle,7547,2641,0,2966,2966,198
8,Church’s Chicken,776,870,731,161,892,-13
9,Culver’s,2489,3099,831,6,837,55
10,Dairy Queen,4494,1036,4337,2,4339,-22
11,Del Taco,931,1551,306,294,600,4
12,Domino's,8641,1317,6185,375,6560,205
13,Dunkin',10416,1127,9244,0,9244,161
14,El Pollo Loco,973,2000,292,189,481,1
15,Firehouse Subs,1044,909,1101,39,1140,9
16,Five Guys,2093,3172,911,479,1390,8
17,Freddy’s Frozen Custard & Steakburgers,759,1842,391,29,420,32
18,Hardee’s,2100,1117,1536,198,1734,-32
19,In-N-Out Burger,1175,3200,0,370,370,5
20,Jack in the Box,4077,1843,2055,163,2218,-23
21,Jersey Mike’s,2203,1145,2087,13,2100,246
22,Jimmy John’s,2301,866,2616,41,2657,48
23,KFC,5100,1408,3906,47,3953,10
24,Krispy Kreme,996,4000,51,307,358,6
25,Little Caesars,4185,1000,3601,580,4181,-28
26,Marco’s Pizza,899,934,957,45,1002,48
27,McAlister’s Deli,869,1866,472,33,505,24
28,McDonald’s,40000,3420,12775,663,13438,244
29,Moe’s Southwest Grill,661,1073,658,1,659,-22
30,Panda Express,4452,2173,147,2187,2334,150
31,Panera Bread,5650,2700,1130,950,2080,-25
32,Papa Johns,3486,1147,2564,600,3164,30
33,Papa Murphy’s,809,643,1213,27,1240,-53
34,Pizza Hut,5500,1022,6526,22,6548,-13
35,Popeyes Louisiana Kitchen,4775,1867,2716,41,2754,146
36,QDOBA,835,1006,406,333,739,2
37,Raising Cane’s,2377,4893,23,544,567,58
38,Shake Shack,777,3679,25,218,243,38
39,Sonic Drive-In,5835,1643,3232,320,3552,26
40,Starbucks,24300,1200,6497,8953,15450,113
41,Subway,40000,438,21147,0,21147,-1043
42,Taco Bell,12600,1823,6540,462,7002,203
43,Tim Hortons,687,1200,637,0,637,4
44,Tropical Smoothie Cafe,948,1009,1038,1,1039,125
45,Wendy's,11111,1895,5535,403,5938,57
46,Whataburger,3089,3640,131,742,873,29
47,White Castle,615,1749,0,349,349,-6
48,Wingstop,2278,1592,1498,36,1534,175
49,Zaxby’s,2233,2484,761,147,908,3

 Write a Python code snippet using pandas to retrieve the top 10 fast food chains with the highest average sales per unit, ordered by average sales per unit in descending order.

In [11]:
# we used the .nlargest which automatically gets the top 10 or whatever and puts them in descdending order automatically
# https://datascientyst.com/get-top-10-highest-lowest-values-pandas/
df["Average Sales per Unit (Thousands - U.S Dollars)"].nlargest(n=10)

6     6100
37    4893
24    4000
38    3679
46    3640
28    3420
19    3200
16    3172
9     3099
31    2700
Name: Average Sales per Unit (Thousands - U.S Dollars), dtype: int64

Write a Python code snippet using pandas to retrieve the names of all fast food chains along with their total units for 2021.

In [13]:
# https://www.geeksforgeeks.org/how-to-select-multiple-columns-in-a-pandas-dataframe/
# this was quite simple since we just needed to get the data from two full columns we say what columns we want to retrive data and thats it
df[['Fast-Food Chains', '2021 Total Units']]

                          Fast-Food Chains  2021 Total Units
0                                   Arby’s              3409
1                           Baskin-Robbins              2317
2                                Bojangles               773
3                              Burger King              7105
4                               Carl’s Jr.              1058
5                         Checkers/Rally’s               834
6                              Chick-fil-A              2732
7                                 Chipotle              2966
8                         Church’s Chicken               892
9                                 Culver’s               837
10                             Dairy Queen              4339
11                                Del Taco               600
12                                Domino's              6560
13                                 Dunkin'              9244
14                           El Pollo Loco               481
15                          Firehouse Subs              1140
16                               Five Guys              1390
17  Freddy’s Frozen Custard & Steakburgers               420
18                                Hardee’s              1734
19                         In-N-Out Burger               370
20                         Jack in the Box              2218
21                           Jersey Mike’s              2100
22                            Jimmy John’s              2657
23                                     KFC              3953
24                            Krispy Kreme               358
25                          Little Caesars              4181
26                           Marco’s Pizza              1002
27                        McAlister’s Deli               505
28                              McDonald’s             13438
29                   Moe’s Southwest Grill               659
30                           Panda Express              2334
31                            Panera Bread              2080
32                              Papa Johns              3164
33                           Papa Murphy’s              1240
34                               Pizza Hut              6548
35               Popeyes Louisiana Kitchen              2754
36                                   QDOBA               739
37                          Raising Cane’s               567
38                             Shake Shack               243
39                          Sonic Drive-In              3552
40                               Starbucks             15450
41                                  Subway             21147
42                               Taco Bell              7002
43                             Tim Hortons               637
44                  Tropical Smoothie Cafe              1039
45                                 Wendy's              5938
46                             Whataburger               873
47                            White Castle               349
48                                Wingstop              1534
49                                 Zaxby’s               908

Write a Python code snippet using pandas to retrieve the names of all fast food chains that have more franchised stores than company stores.

In [16]:

# Again while reasearching I found it to be more simple than I thought we just use operators to say if something is greater than we print it
# https://www.geeksforgeeks.org/ways-to-filter-pandas-dataframe-by-column-values/
fastfood_df = df[df['Franchised Stores'] > df['Company Stores']]

fastfood_df

,Fast-Food Chains,U.S. Systemwide Sales (Millions - U.S Dollars),Average Sales per Unit (Thousands - U.S Dollars),Franchised Stores,Company Stores,2021 Total Units,Total Change in Units from 2020
0,Arby’s,4462,1309,2293,1116,3409,40
1,Baskin-Robbins,686,296,2317,0,2317,102
2,Bojangles,1485,1924,496,277,773,15
3,Burger King,10033,1470,7054,51,7105,24
4,Carl’s Jr.,1560,1400,1011,47,1058,-21
5,Checkers/Rally’s,931,1145,568,266,834,-13
6,Chick-fil-A,16700,6100,2650,82,2732,155
8,Church’s Chicken,776,870,731,161,892,-13
9,Culver’s,2489,3099,831,6,837,55
10,Dairy Queen,4494,1036,4337,2,4339,-22
11,Del Taco,931,1551,306,294,600,4
12,Domino's,8641,1317,6185,375,6560,205
13,Dunkin',10416,1127,9244,0,9244,161
14,El Pollo Loco,973,2000,292,189,481,1
15,Firehouse Subs,1044,909,1101,39,1140,9
16,Five Guys,2093,3172,911,479,1390,8
17,Freddy’s Frozen Custard & Steakburgers,759,1842,391,29,420,32
18,Hardee’s,2100,1117,1536,198,1734,-32
20,Jack in the Box,4077,1843,2055,163,2218,-23
21,Jersey Mike’s,2203,1145,2087,13,2100,246
22,Jimmy John’s,2301,866,2616,41,2657,48
23,KFC,5100,1408,3906,47,3953,10
25,Little Caesars,4185,1000,3601,580,4181,-28
26,Marco’s Pizza,899,934,957,45,1002,48
27,McAlister’s Deli,869,1866,472,33,505,24
28,McDonald’s,40000,3420,12775,663,13438,244
29,Moe’s Southwest Grill,661,1073,658,1,659,-22
31,Panera Bread,5650,2700,1130,950,2080,-25
32,Papa Johns,3486,1147,2564,600,3164,30
33,Papa Murphy’s,809,643,1213,27,1240,-53
34,Pizza Hut,5500,1022,6526,22,6548,-13
35,Popeyes Louisiana Kitchen,4775,1867,2716,41,2754,146
36,QDOBA,835,1006,406,333,739,2
39,Sonic Drive-In,5835,1643,3232,320,3552,26
41,Subway,40000,438,21147,0,21147,-1043
42,Taco Bell,12600,1823,6540,462,7002,203
43,Tim Hortons,687,1200,637,0,637,4
44,Tropical Smoothie Cafe,948,1009,1038,1,1039,125
45,Wendy's,11111,1895,5535,403,5938,57
48,Wingstop,2278,1592,1498,36,1534,175
49,Zaxby’s,2233,2484,761,147,908,3

Write a Python code snippet using pandas to delete all records from the dataset where the total change in units from 2020 is negative.

In [18]:
# we use the df.drop
negative_values = df[df['Total Change in Units from 2020'] < 0].index
# https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.drop.html
# https://www.geeksforgeeks.org/how-to-drop-rows-in-dataframe-by-conditions-on-column-values/
# we use the df.drop
df = df.drop(negative_values)

negative_values

Index([], dtype='int64')