<a href="https://colab.research.google.com/github/AlexanderG40/Data-Science/blob/main/Final_Project.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

This is it. This is my final project, my dataset I found and I will do this project out of will be based on the stock of the Coca-Cola company, they are not only one of the biggest company in the US, they provide a ton of drinks world-wide to the rest of the world. Overview: this dataset was downloaded from the kaggle website, they are a website where students and even researchers can download CSV files to work on.

In [1]:
# First we import all of our libraries that I will be using for this final
import pandas as pd
import seaborn as sns
import numpy as np

In [2]:
# here we finally call our CSV dataset and also print a sample of our data
df = pd.read_csv('/content/KO_1919-09-06_2025-04-06.csv')
df.sample(10)

,date,open,high,low,close,adj_close,volume
13525,2015-09-24 00:00:00-04:00,38.520000,39.200001,38.509998,39.150002,28.996773,19385700
10465,2003-07-30 00:00:00-04:00,22.600000,22.775000,22.459999,22.690001,11.916097,10619200
9731,2000-08-23 00:00:00-04:00,29.000000,29.593750,28.968750,29.398438,14.613331,7007400
8867,1997-03-21 00:00:00-05:00,29.625000,30.125000,29.625000,30.000000,14.437491,9848000
8371,1995-04-05 00:00:00-04:00,14.593750,14.593750,14.468750,14.562500,6.850071,4466000
1714,1968-11-22 00:00:00-05:00,0.752604,0.757813,0.747396,0.757813,0.154896,326400
6204,1986-09-10 00:00:00-04:00,2.343750,2.375000,2.312500,2.328125,0.922803,13337600
5360,1983-05-09 00:00:00-04:00,1.151042,1.151042,1.138021,1.140625,0.389031,14452800
3671,1976-08-31 00:00:00-04:00,0.885417,0.899740,0.882813,0.899740,0.213298,2860800
2453,1971-11-03 00:00:00-05:00,1.135417,1.156250,1.135417,1.156250,0.247989,1334400

I will go a bit over my data it is pretty straight forward: Date: the date of the trading, Open: the opening stock price, high: the highest stock price of the day, low: the lowest stock price of the day, close: the price of the stock when the stock market closed for the day, Adj_close: The adjusted close price of the stock, Volume: The total number of times the share/stock was traded.

When I was researching this dataset the author of this dataset said there was no null values which makes sense. Because since it is a stock price there should be no null values other wise my data would be almost useless.

In [6]:
df.isnull().sum()

date         0
open         0
high         0
low          0
close        0
adj_close    0
volume       0
dtype: int64

My data has 7 columns and has 15,922 rows of data.

In [4]:
# we print out our data types to see what type it is: float, int, object
df.dtypes

date          object
open         float64
high         float64
low          float64
close        float64
adj_close    float64
volume         int64
dtype: object

In [5]:
df.describe()

,open,high,low,close,adj_close,volume
count,15922.000000,15922.000000,15922.000000,15922.000000,15922.000000,1.592200e+04
mean,18.450788,18.598529,18.299819,18.455364,12.831326,9.334420e+06
std,19.432024,19.570869,19.288910,19.434456,16.645812,7.954781e+06
min,0.192708,0.193359,0.182292,0.192057,0.034086,7.680000e+04
25%,0.888021,0.895833,0.880208,0.888021,0.223808,3.111600e+06
50%,10.531250,10.625000,10.468750,10.531250,4.824283,8.087650e+06
75%,31.946876,32.355938,31.591562,31.968750,17.404522,1.329548e+07
max,73.300003,73.949997,72.320000,73.180000,73.180000,1.241690e+08

The describe function allows us to view the statistics before we do any KNN algorithms and even decision trees. Gives us a good understanding at how our data will look.

Now that our data is clean, even though we did not have to do much cleaning. I will do some explorated data analysis (EDA) to view as a barplot, jointplot, boxplot, etc our data.