<a href="https://colab.research.google.com/github/AlexanderG40/Data-Science/blob/main/Week3_Assignment_3_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Read the dataset using pandas. The dataset will be available in the same folder.
After reading the dataset, perform the following exploratory data analysis.

Dataset resource:
https://www.openintro.org/data/index.php

https://www.openintro.org/data/index.php?data=nycflights

You can choose to **answer 5 questions** for the assignment. **5 are graded**

***Use the rest to test your knowledge***

1. How many flights were operated by American Airlines and how many by Delta AirlinesÂ ?

In [ ]:
#Code here
import pandas as pd

# here we count the number of times our pandas sees each carrier by carrier such as by AA, DL, etc.
num_each_carrier = df['carrier'].value_counts()

# here we count the number of times we actually see AA and DL as the carrier codes for American and Delta
american_air = num_each_carrier.get('AA', 0)
delta_air = num_each_carrier.get('DL', 0)

# we finally print the number of times AA appears and DL appears
print(f"Number of flights operated by AA: {american_air}")
print(f"Number of flights operated by DL: {delta_air}")

Number of flights operated by AA: 3188
Number of flights operated by DL: 4751

2. Identify the top destinations from each JFK airport.

In [ ]:
#Code here
import pandas as pd

df = pd.read_csv("/content/nycflights.csv")

# here we pretty much look for the origin where it equals to JFK.
jfk_flights = df[df['origin'] == 'JFK']

# here we find the destination for the JFK airport
top_destination = jfk_flights['dest'].value_counts()
# we print the top destiantion for JFK
print(top_destination)

dest
LAX    1115
SFO     832
BOS     585
MCO     529
SJU     471
       ...
MVY      16
MKE      15
EGE      10
SDF       3
PSP       2
Name: count, Length: 66, dtype: int64

3. Count the number of flights departing from each origin airport to different destinations.

In [5]:
#Code here
# we can count the number of flights from origin to destination using the .value_counts which counts the number of times they are both seen in the data set
#source: https://www.geeksforgeeks.org/python-pandas-series-value_counts/
num_of_flights = df[['origin', 'dest']].value_counts()

print(num_of_flights)

origin  dest
JFK     LAX     1115
LGA     ATL      946
JFK     SFO      832
LGA     ORD      801
EWR     ORD      601
                ...
        ANC        1
        TVC        1
LGA     CAE        1
        EYW        1
        CHO        1
Name: count, Length: 214, dtype: int64

4. How missing values are there in the column dep_time?

In [ ]:
#Code here
# here we count the number of times we see NAN in dep_time and we sum it or add it up
dep_Time = df['dep_time'].isna().sum()

# we finally print out our result with the number of missing values
print(f"The total number of missing values: {dep_Time}")

The total number of missing values: 0

5. Identify the airline with the highest average departure delay.

In [4]:
import pandas as pd

df = pd.read_csv("/content/nycflights.csv")

# we first find the mean of the delays this will help us clean up our data and only have the airlines that have the most delays
average_delays = df.groupby('carrier')['dep_delay'].mean()
# we use idxmax to find the index of the maximum occurance so it pretty much searches for the airline using its code for example DL then
# we look for the time on average the airline was delayed/late
# while .max just gives out the maximum value found within a data set
# sources: https://www.geeksforgeeks.org/python-pandas-dataframe-idxmax/
# https://www.w3schools.com/python/pandas/ref_df_idxmax.asp
# https://stackoverflow.com/questions/60083433/what%c2%b4s-the-difference-between-idxmax-and-max-inside-a-groupby-pandas
most_delayed_airline = average_delays.idxmax()
# here we actually finally find the airline amount of delay
delayed_airline = average_delays.max()
# we finally print out our airline with the highest average delay
print(f"The most delayed airline on average is {most_delayed_airline} with a delay of {delayed_airline}")

The most delayed airline on average is HA with a delay of 38.529411764705884

6. Count the number of flights departing from each origin airport to different destinations.

In [ ]:
#Code here

7. Extract the hour, minutes from the 'DEP_TIME' column and add put it into new column with appropriate names

In [ ]:
#Code here

8. Plot a histogram to visualize the distribution of departure delays during different times of the day.

**Note: dep_delay, arr_delay values are in minutes. Negative times represent early departures/arrivals.**

In [ ]:
#Code here