**Python Practice**

This assignment is to get started with a practice to Python for Data Science.

Choose any 6 questions out of the questions below. 6 questions will be graded and the rest can be utilized for some practice.

Create a string variable greeting containing "Hello, " and another variable name containing your name. Concatenate these variables to form a greeting message and print it

In [ ]:
#Your answer must go here
first_name = "Alexander"
print("Hello, " + first_name)

Hello, Alexander

Write a Python program which accepts a sequence of comma-separated numbers
from the user and generate a list with those numbers. Arrange them in ascending order

In [ ]:
#Your answer must go here

Write a Python program to display the first and last letters from the given list of names: ["Adam","Alex","Emmanuel" ,"Robert", "Finn"].

In [ ]:
#Your answer must go here
names =  ["Adam","Alex","Emmanuel" ,"Robert", "Finn"]
# here we look for the first letter which starts as a 0 and the last letter a -1
for name in names:
  first_letters = name[0]
  last_letters = name[-1]
  print(f"Name: {name}, First Letter: {first_letters}, Last Letter: {last_letters}")

Name: Adam, First Letter: A, Last Letter: m
Name: Alex, First Letter: A, Last Letter: x
Name: Emmanuel, First Letter: E, Last Letter: l
Name: Robert, First Letter: R, Last Letter: t
Name: Finn, First Letter: F, Last Letter: n

Take a string as an input. Write a python program to create a new string using the first, middle, and last characters of the input string.

In [ ]:
#Your answer must go here

Write a python program to take a string as an input and reverse it

In [ ]:
#Your answer must go here
# we use the slice statement using -1 because it has to move the step backwards pretty much
input = "I love UAT!"[::-1]
print(input)

!TAU evol I

**Collections**

Take an input of numbers in a list and create a new list containing only the even numbers from the original list.

In [ ]:
#Your answer must go here
# here we set up a list using its [] which makes it a list
# now to make that list only print even numbers we have to make it divisible by two since two is even
x = [1, 3, 4, 5, 7, 8, 9, 10, 11, 12]
for value in x:
  if value % 2 == 0:
    print(value)

481012

Take a list of strings (words) and create a new list containing the lengths of each word in the original list.

In [ ]:
#Your answer must go here

Create a dictionary student_grades with keys as student names and values as their respective grades. Find the student with the highest grade and print the output

In [ ]:
#Your answer must go here
# start of my function that looks for the highest grade
def best_grade(student_grades):
    # gets all of the grades and gets the max or the highest
    highest_bestgrd = max(student_grades, key=student_grades.get)
    highest_grd = student_grades[highest_bestgrd]

    print(f"The best student in the class is, {highest_bestgrd} with the number of {highest_grd}.")
# our dictionary
student_grades = {
    "Joseph" : 68,
    "Amber": 87,
    "Alex": 85,
    "Ashley": 93
}

best_grade(student_grades)

The best student in the class is, Ashley with the number of 93.

Define two sets, set1 and set2, containing some common elements. Remove the duplicate elements from set1 that are also present in set2.

In [ ]:
#Your answer must go here
def remove_repetition(set1, set2):
    # here we remove the elements from set1 that are also found in set2 using the -= which is the same as x = x-9
    set1 -= set2
    return set1
# start of our two sets
set1 = {1, 2, 3, 4, 5, 6, 7}
set2 = {4, 6, 8}
# we call it and print the updated set
updatedset1 = remove_repetition(set1, set2)
print("Final set: ", updatedset1)

Final set:  {1, 2, 3, 5, 7}

Create a dictionary word_count to count the occurrences of each word in a given sentence. Print the top 3 most common words along with their counts.

In [ ]:
#Your answer must go here